$primary-color: #428C35;
$secondary-color: #9A7F41;
$third-color: #231F20;
$fourth: #E07F38;
$fith-color: #FFD459;
$color-white:#FFFFFF;
$color-light-green:#83B03D;
$text-color: #FFFFFF;
$title-color:#FFFFFF;
$color-dark-gray:#7B7B7B;
$primary-color-hover:  #83B03D;

$primary-font: EBGaramond;
$secondary-font: Roboto;


$wrapper: 1920px;
$container: 1265px;
