section.great-west-gourmet
    .container
        .great-west-gourmet-title
            h4 Great West Gourmet
            h4 San Francisco, CA
        .great-west-gourmet-main
            .great-west-gourmet-main-title
                span Sales
            .great-west-gourmet-main-content
                +peopleWest({
                    src: "../../images/images1.jpg",
                    title: "Ricky Ramirez",
                    email: "ricky.ramirez@greatwestgourmet.com",
                    price:"415-855-8999"
                })
                +peopleWest({
                    src: "../../images/images1.jpg",
                    title: "Ricky Ramirez",
                    email: "ricky.ramirez@greatwestgourmet.com",
                    price:"415-855-8999"
                })
                +peopleWest({
                    src: "../../images/images1.jpg",
                    title: "Ricky Ramirez",
                    email: "ricky.ramirez@greatwestgourmet.com",
                    price:"415-855-8999"
                })
                +peopleWest({
                    src: "../../images/images1.jpg",
                    title: "Ricky Ramirez",
                    email: "ricky.ramirez@greatwestgourmet.com",
                    price:"415-855-8999"
                })
                +peopleWest({
                    src: "../../images/images1.jpg",
                    title: "Ricky Ramirez",
                    email: "ricky.ramirez@greatwestgourmet.com",
                    price:"415-855-8999"
                })
