header.header
	.logo 
		img(src="../../images/GW_Logo.jpg", alt="")
	.block2header
		.searchBlock
			.visit_arts
				p Visit Arts
			.customer_portal
				p Customer Portar
			.button_search
				img(src="../../images/search_icon_1.png", alt="")
		.buttonBlock
			+button_menu_nav({
				text: "ABOUT US",
				menu: ['Heritage', 'Leadership', 'Sales Team'],
			})
			+button_menu_nav({
				text: "PRODUCTS",
				menu: ['Fresh Fruit', 'Fresh Vegetables', 'Frozen Vegetables', 'Organics', 'Nogales', 'Salinas'],
			})
			+button_menu_nav({
				text: "OUR COMMITMENT",
				menu: ['Food Safety', 'Sustainability', 'Community'],
			})
			+button_menu_nav({
				text: "CONTACT US",
				menu: ['Accounts Payable', 'Accounts Receivable', 'Accounts Receivable'],
			})