section.us-introduce-ourselves
    .container
        .let-us-introduce-ourselves-titles
            h3 Let Us Introduce Ourselves<span>:</span>
            .let-us-introduce-ourselves-titles-span Leadership
        .let-us-introduce-ourselves-click
            button.let-us-introduce-ourselves-click-dropbtn(type='button', onclick='myFunction()' ) <p>Leadership</p> <span class="icon-show">&#8250;</span>
            .let-us-introduce-ourselves-content#myDropdown
                .container
                    +detailInformation({
                        src: "../../images/images1.jpg",
                        title: "Paul Villa",
                        desc: "CEO",
                        email: "email@greatwestproduce.com",
                        price:"800-000-0000 x 0000"
                    })
                    +detailInformation({
                        src: "../../images/images1.jpg",
                        title: "SEAN Villa",
                        desc: "President",
                        email: "email@greatwestproduce.com",
                        price:"800-000-0000 x 0000"
                    })
                    +detailInformation({
                        src: "../../images/images1.jpg",
                        title: "Ken ewalt",
                        desc: "Executive Vice President",
                        email: "email@greatwestproduce.com",
                        price:"800-000-0000 x 0000"
                    })
                    +detailInformation({
                        src: "../../images/images1.jpg",
                        title: "Todd Walker",
                        desc: "COO",
                        email: "email@greatwestproduce.com",
                        price:"800-000-0000 x 0000"
                    })
