section.nice-saying 
    .container 
        .nice-saying-block 
            figure.fancy-quote 
                blockquote 
                    p They have great communication, they reach out to me and keep me updated. I don't have to follow up with them. - Stacy