section.our-great-products
    .our-great-products-header
        .container 
            h3.heading Our Great Products
            p.desc.text Rooted in California, our superior quality produce is carefully curated to deliver vibrant, unbeatable flavors with every bite. Get a taste of greatness with our local, national and worldwide distribution services.
    .our-great-products-info   
        +blockBox({
            backgroundColor:"#E07F38",
            src: "../../images/image1.png",
            title: "Fresh Fruits",
            desc: "Aromatic and mouthwateringly delicious"
        })
        +blockBox({
            backgroundColor:"#D12A1F",
            src: "../../images/image2.png",
            title: "Fresh Vegetables",
            desc: "Nutrient-packed and full of flavor"
        })
        +blockBox({
            backgroundColor:"#83B03D",
            src: "../../images/image3.png",
            title: "Frozen Produce",
            desc: "Peak-picked for self-stability"
        })
        +blockBox({
            backgroundColor:"#71322D",
            src: "../../images/image4.png",
            title: "Organics",
            desc: " Naturally grown sans synthetic substances"
        })
    .sea-all-products 
        a(href="#") See All Products 