section.partnership
    .partnership-content 
        .partnership-content-left 
            img(src="../../images/image5.png", alt="")
        .partnership-content-right
            h3.title A Committed Partnership
            p.text Being your partner in produce isn’t just something we say, it’s what we embody through the actions we take. As a family-run operation, we care about the communities we serve and it is our commitment to ensure that the produce we deliver is handled responsibly for the consumer and the environment. We make sure to uphold the highest industry standards in safe food practices and environmental sustainability so that our communities can enjoy the <span>freshest fruits and vegetables</span>.
