section.produce-partner 
    .container 
        .block-box 
            h3.block-box-heading.title Your Premium Produce Partner
            p.block-box-desc.text Sixty years ago our founder, Art Villa, set out to source the freshest fruits and vegetables, believing that our customers deserved <span>premium produce</span> at a fair price. Three generations later, the team at Great West Produce is still serving up the best in the industry and sharing our family’s love of quality products with a commitment to safety and sustainable environmental practices. From tangerines to leafy greens and everything in between, <span>Great West is your produce partner</span>.
            a.btn-learn-more(href="#")  Learn More 