.great-west-gourmet{
    margin-top: 5.2rem;
    &-title{
        h4{
            font-size: 1.8rem;
            font-family:$secondary-font;
            font-weight: 700;
            line-height: 2.8rem;
            color:$primary-color-hover;
        }
    }
    
    .great-west-gourmet-main-dropdown {
        display: none;
        background-color: #D0D2C7;
        color: #FFFFFF;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        padding: 0 1.5rem;
        span{
            content:"\203A";
            color: #FFFFFF;
            font-size: 3.2rem;
            padding-bottom: 0.6rem;
        }
    }
    .showGreat {display:block;}
    
    &-main{
    
        &-title{
            margin-top: 2.2rem;
            margin-bottom: 3.1rem;
            span{
                font-size: 1.8rem;
                font-weight: 700;
                font-family:$secondary-font;
                color: #D0D2C7;
            }
        }
        &-content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 5.6rem 7.7rem;
            .people-west{
                &-image img{
                    width: 24.7rem;
                    height: 24.7rem;
                    margin-bottom: 3rem;
                    border-radius: 12rem;
                }
                &-content{
                    word-break: break-word;
                    color:$color-dark-gray ;
                    font-family: $secondary-font;
                    &-heading{
                        font-size: 1.8rem;
                        line-height: 3.8rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: underline;
                        margin-bottom: 0.4rem;
                    }
                    &-email{
                        font-size: 1.6rem;
                        font-weight: 400;
                        text-decoration: underline;
                        height: 2.8rem;
                    }
                    &-price{
                        line-height: 2.8rem;
                        font-weight: 400;
                        font-size: 1.6rem;
                        text-decoration: underline;
                        height: 2.8rem;
                    }
                }
            }
        }
    }

}
@include maxWidth(1160px){
    .great-west-gourmet-main-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 6.4rem 7.7rem;
    }
}
@include maxWidth(890px){
    .great-west-gourmet-main-content{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 4.8rem 9rem;
        text-align: center;
        .people-west{
            .people-west-image img{
                margin: auto;
            }
            .people-west-content{
                margin-top: 3rem;
            }
        }
    }

}

@include maxWidth(768px){
    .great-west-gourmet{
        margin-top: unset;
    }
    .great-west-gourmet-title{
        display: none;
    }
    
    .great-west-gourmet-main-dropdown{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1.5rem;
        height: 4rem;
        p{
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        .showTrue{
            transform: rotate(90deg);
        }
    }
    .great-west-gourmet-main{
        display: none;
    }
    .great-west-gourmet-main-title{
        display: none;
    }
    .great-west-gourmet-main-content{
        margin-top: 3rem;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 4.8rem 9rem;
        .people-west{
            .people-west-image img{
                width: 18rem;
                height: 18rem;
                margin: auto;
            }
            
        }
    }    
}
@include maxWidth(563px){
    .great-west-gourmet-main-dropdown{
        p{
            font-size: 14px;
        }
    }
    .great-west-gourmet-main-content{
        display: block;
        .people-west{
            margin-bottom: 4.8rem;
            .people-west-image img{
                margin: auto;
                width: 24.7rem;
                height: 24.7rem;
            }
            .people-west-content{
                margin-top: 3rem;
                
            }
        }

    }
}


