.let-us-introduce-ourselves {
    &-titles {
        h3 {
            margin-top: 5rem;
            text-align: center;
            font-size: 5rem;
            font-weight: 400;
            color: $color-light-green;
            font-family: $primary-font ;
        }
    }

    &-content {
        .container {
            margin-top: 6.5rem;
            display: flex;
            gap: 7.7rem;
            justify-content: space-between;
            text-align: center;
            color: $color-dark-gray;
            font-family: $secondary-font;

        }
        .detail-information {
            &-image img {
                width: 24.7rem;
                height: 24.7rem;
                margin-bottom: 3rem;
                border-radius: 13rem;
            }

            &-content {
                // max-width: 24.7rem;
                word-break: break-word;
                &-heading {
                    font-size: 1.8rem;
                    text-align: center;
                    line-height: 2.7rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: underline;
                    margin-bottom: 0.4rem;
                }
                &-desc {
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 2.7rem;
                    margin-bottom: 0.4rem;
                }
                &-email{
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    margin-bottom: 0.4rem;
                    text-decoration: underline;
                }
                &-price{
                    line-height: 2.4rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                    text-decoration: underline;

                }
            }
        }
    }
}
@include maxWidth(1350px){
    .let-us-introduce-ourselves-titles h3{
        font-size: 4rem;
    }
    .let-us-introduce-ourselves-titles span{
        display: none;
    }
    .let-us-introduce-ourselves-content
        .container{
            gap: 4rem;
            
        }
}
@include maxWidth(1160px){
    .let-us-introduce-ourselves-titles h3{
        font-size: 4rem;
    }
    .let-us-introduce-ourselves-titles span{
        display: none;
    }
    .let-us-introduce-ourselves-content
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            gap: 5rem;
            text-align: center;
        }
}
@include maxWidth(890px){
    .let-us-introduce-ourselves-titles h3{
        font-size: 4rem;
    }
    .let-us-introduce-ourselves-titles span{
        display: none;
    }
    .let-us-introduce-ourselves-content
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 5rem;
            text-align: center;
            .detail-information{
                margin: auto;
            }
        }

}

@include maxWidth(768px){
    .let-us-introduce-ourselves-titles h3{
        font-size: 4rem;
    }
    .let-us-introduce-ourselves-titles span{
        display: none;
    }
    .let-us-introduce-ourselves-content
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 9rem;
            text-align: center;
            .detail-information
                .detail-information-image img{
                    margin: auto;
                    width: 18rem;
                    height: 18rem;
                }
        }
}
@include maxWidth(563px){
    .let-us-introduce-ourselves-titles h3 {
       font-size: 4rem;
       line-height: 4.2rem;
    }
    .let-us-introduce-ourselves-titles span {
        display: none;
    }
    .let-us-introduce-ourselves-content
        .container{
            display: block;
            .detail-information{
                margin-bottom: 3rem;
                .detail-information-image{
                    width: 24.7rem;
                    margin: auto;
                }
            }
        }
}
// @include maxWidth(425px){
//     .let-us-introduce-ourselves-titles h3 {
//        font-size: 4rem;
//        line-height: 4.2rem;
//     }
//     .let-us-introduce-ourselves-titles span {
//         display: none;
//     }
//     .let-us-introduce-ourselves-content
//         .container{
//             display: block;
//             .detail-information{
//                 margin-bottom: 3rem;
//                 .detail-information-image{
//                     width: 24.7rem;
//                     margin: auto;
//                 }
//                 .detail-information-content{
                   
//                 }
//             }
//         }
// }
// @include maxWidth(375px){
//     .let-us-introduce-ourselves-titles h3 {
//        font-size: 4rem;
//        line-height: 4.2rem;
//     }
//     .let-us-introduce-ourselves-titles span {
//         display: none;
//     }
//     .let-us-introduce-ourselves-content
//         .container{
//             display: block;
//             .detail-information{
//                 margin-bottom: 3rem;
//                 .detail-information-image{
//                     width: 24.7rem;
//                     margin: auto;
//                 }
//             }
//         }
// }
