html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'EBGaramond';
  src: url("../../fonts/EBGaramond-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype"); }

.text {
  font-family: Roboto;
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 1.5;
  text-align: center; }

.title {
  font-family: EBGaramond;
  font-weight: 400px;
  font-size: 5rem;
  color: #FFFFFF; }

.heading {
  font-family: EBGaramond;
  font-weight: 400px;
  font-size: 5rem;
  color: #83B03D; }

.text--light {
  font-weight: 300; }

.text--normal {
  font-style: normal; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  line-height: 1;
  font-size: 1.4rem; }

input,
button {
  outline: none;
  line-height: 1; }

button {
  cursor: pointer; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1325px;
  margin: 0 auto;
  padding: 0 30px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header .logo {
    margin: 61px 0px 18px 94px; }
    .header .logo img {
      width: 392px;
      height: 110px; }
  .header .block2header {
    width: 682px;
    margin: 50px 80px 0px 0px; }
    .header .block2header .searchBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 40px; }
      .header .block2header .searchBlock .visit_arts {
        border: 1px solid #71322D;
        height: 40px;
        width: 200px;
        margin-right: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .block2header .searchBlock .visit_arts p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          color: #71322D; }
      .header .block2header .searchBlock .customer_portal {
        border: 1px solid #E07F38;
        height: 40px;
        width: 200px;
        margin-right: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .block2header .searchBlock .customer_portal p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          color: #E07F38; }
      .header .block2header .searchBlock .button_search {
        width: 40px;
        height: 40px;
        border: 1px solid #7B7B7B; }
        .header .block2header .searchBlock .button_search img {
          width: 24px;
          height: 24px;
          margin: 8px 8px; }
    .header .block2header .buttonBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px; }
      .header .block2header .buttonBlock .component a {
        color: #7C7C7C; }
        .header .block2header .buttonBlock .component a:hover {
          color: #83B03D; }

.produce-partner {
  background-color: #428C35;
  background-image: url("../../images/producedure.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .produce-partner .block-box {
    padding: 57px 0px;
    text-align: center; }
    .produce-partner .block-box-heading {
      text-align: center; }
    .produce-partner .block-box-desc {
      line-height: 2.0;
      max-width: 1040px;
      margin: 0px auto;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 300; }
      .produce-partner .block-box-desc span {
        font-weight: 700; }
    @media screen and (max-width: 767px) {
      .produce-partner .block-box {
        padding: 30px 0px; }
        .produce-partner .block-box-heading {
          font-size: 4rem; }
        .produce-partner .block-box-desc {
          font-size: 1.6rem; } }
  .produce-partner .btn-learn-more {
    display: inline-block;
    font-size: 1.8rem;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out; }
    .produce-partner .btn-learn-more:hover {
      background-color: #83B03D; }

section.banner .thumbnail {
  height: 640px; }
  section.banner .thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media screen and (max-width: 375px) {
    section.banner .thumbnail {
      height: 250px; } }

.our-great-products-header h3.heading {
  margin: 46px 0px 35px 0px;
  text-align: center; }

.our-great-products-header p.desc {
  color: #7B7B7B;
  max-width: 1040px;
  margin: 0px auto;
  text-align: center; }

.our-great-products-info {
  margin-top: 47px;
  margin-bottom: 74px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .our-great-products-info .block-box {
    position: relative; }
    .our-great-products-info .block-box-image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .our-great-products-info .block-box-content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      opacity: 0.7;
      width: 400px;
      height: 150px; }
      .our-great-products-info .block-box-content-heading {
        font-size: 5rem;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 10px; }
      .our-great-products-info .block-box-content-desc {
        color: #FFFFFF;
        font-size: 1.8rem; }
  @media screen and (max-width: 1023px) {
    .our-great-products-info {
      display: block; } }
  @media screen and (max-width: 568px) {
    .our-great-products-info .block-box-content {
      width: 315px;
      height: 125px; }
    .our-great-products-info .block-box h3.block-box-content-heading {
      font-size: 4rem; }
    .our-great-products-info .block-box p.block-box-content-desc {
      font-size: 1.6rem; } }

.our-great-products .sea-all-products a {
  display: block;
  text-align: center;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #83B03D;
  margin: 0px auto;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  font-size: 1.8rem;
  color: #83B03D;
  font-weight: 700; }
  .our-great-products .sea-all-products a:hover {
    background-color: #83B03D;
    color: #FFFFFF; }

section.partnership {
  margin-top: 6rem; }
  section.partnership .partnership-content {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    section.partnership .partnership-content-left img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    section.partnership .partnership-content-right {
      background-color: #9a7f41e3;
      background-image: url("../../images/image6.png");
      background-repeat: no-repeat;
      background-size: contain;
      padding: 44px 60px; }
      section.partnership .partnership-content-right h3.title {
        text-align: center;
        margin-bottom: 24px; }
  @media screen and (max-width: 1023px) {
    section.partnership .partnership-content {
      display: block; }
      section.partnership .partnership-content-left {
        height: 250px; }
      section.partnership .partnership-content-right h3.title {
        font-size: 4rem; }
      section.partnership .partnership-content-right p.text {
        font-size: 1.6rem; } }

.nice-saying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px; }

blockquote {
  width: 656px;
  border: 1px solid #9A7F41;
  margin-top: 78px; }

.fancy-quote p {
  line-height: 39.15px;
  font-size: 3rem;
  font-family: EBGaramond;
  font-style: italic;
  color: #9A7F41;
  max-width: 581px;
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 40px; }

.fancy-quote blockquote {
  position: relative; }

.fancy-quote blockquote p::before {
  top: -1rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../../images/Vector.png");
  background-size: 50px 20px;
  display: inline-block;
  width: 50px;
  height: 35px;
  background-repeat: no-repeat;
  content: ""; }

.fancy-quote blockquote p::after {
  bottom: -2.4rem;
  right: 43%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../../images/Vector2.png");
  background-size: 50px 20px;
  display: inline-block;
  width: 50px;
  height: 35px;
  background-repeat: no-repeat;
  content: ""; }

@media screen and (max-width: 768px) {
  blockquote {
    width: auto; }
  .fancy-quote p {
    font-size: 2rem; } }

.let-us-introduce-ourselves-titles h3 {
  margin-top: 5rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  color: #83B03D;
  font-family: EBGaramond; }

.let-us-introduce-ourselves-content .container {
  margin-top: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.7rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  color: #7B7B7B;
  font-family: Roboto; }

.let-us-introduce-ourselves-content .detail-information-image img {
  width: 24.7rem;
  height: 24.7rem;
  margin-bottom: 3rem;
  border-radius: 13rem; }

.let-us-introduce-ourselves-content .detail-information-content {
  word-break: break-word; }
  .let-us-introduce-ourselves-content .detail-information-content-heading {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 0.4rem; }
  .let-us-introduce-ourselves-content .detail-information-content-desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
    margin-bottom: 0.4rem; }
  .let-us-introduce-ourselves-content .detail-information-content-email {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 0.4rem;
    text-decoration: underline; }
  .let-us-introduce-ourselves-content .detail-information-content-price {
    line-height: 2.4rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: underline; }

@media screen and (max-width: 1350px) {
  .let-us-introduce-ourselves-titles h3 {
    font-size: 4rem; }
  .let-us-introduce-ourselves-titles span {
    display: none; }
  .let-us-introduce-ourselves-content
.container {
    gap: 4rem; } }

@media screen and (max-width: 1160px) {
  .let-us-introduce-ourselves-titles h3 {
    font-size: 4rem; }
  .let-us-introduce-ourselves-titles span {
    display: none; }
  .let-us-introduce-ourselves-content
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5.6rem 7.7rem;
    text-align: center; } }

@media screen and (max-width: 890px) {
  .let-us-introduce-ourselves-titles h3 {
    font-size: 4rem; }
  .let-us-introduce-ourselves-titles span {
    display: none; }
  .let-us-introduce-ourselves-content
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.6rem 9rem;
    text-align: center; }
    .let-us-introduce-ourselves-content
.container .detail-information {
      margin: auto; } }

@media screen and (max-width: 768px) {
  .let-us-introduce-ourselves-titles h3 {
    font-size: 4rem; }
  .let-us-introduce-ourselves-titles span {
    display: none; }
  .let-us-introduce-ourselves-content
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.6rem 9rem;
    text-align: center; }
    .let-us-introduce-ourselves-content
.container .detail-information
.detail-information-image img {
      margin: auto;
      width: 18rem;
      height: 18rem; }
    .let-us-introduce-ourselves-content
.container .detail-information-content {
      margin-top: 3rem; }
      .let-us-introduce-ourselves-content
.container .detail-information-content .detail-information-content-desc {
        height: 2.7rem;
        line-height: 1.7rem; } }

@media screen and (max-width: 563px) {
  .let-us-introduce-ourselves-titles h3 {
    font-size: 4rem;
    line-height: 4.2rem; }
  .let-us-introduce-ourselves-titles span {
    display: none; }
  .let-us-introduce-ourselves-content
.container {
    display: block; }
    .let-us-introduce-ourselves-content
.container .detail-information {
      margin-bottom: 3rem; }
      .let-us-introduce-ourselves-content
.container .detail-information .detail-information-image img {
        width: 24.7rem;
        height: 24.7rem; }
      .let-us-introduce-ourselves-content
.container .detail-information .detail-information-content {
        margin-top: 3rem; }
        .let-us-introduce-ourselves-content
.container .detail-information .detail-information-content .detail-information-content-desc {
          line-height: unset; }
        .let-us-introduce-ourselves-content
.container .detail-information .detail-information-content .detail-information-content-email {
          line-height: unset; } }

.meet-our-team-heading {
  margin-top: 40px; }
  .meet-our-team-heading h3 {
    font-size: 5rem;
    line-height: 5.6rem;
    font-weight: 400;
    text-align: center;
    font-family: EBGaramond;
    color: #83B03D; }

.meet-our-team-title {
  margin-top: 3.8rem; }
  .meet-our-team-title h4 {
    font-size: 1.8rem;
    font-family: Roboto;
    font-weight: 700;
    line-height: 2.8rem;
    color: #83B03D; }

.meet-our-team-content-title span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.8rem;
  color: #D0D2C7; }

.meet-our-team-content-information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 9.2rem 7.7rem;
  margin-top: 3.4rem; }
  .meet-our-team-content-information .our-team-image img {
    width: 24.7rem;
    height: 24.7rem;
    border-radius: 12rem; }
  .meet-our-team-content-information .our-team-content {
    word-break: break-word;
    margin-top: 3.6rem;
    color: #7B7B7B;
    font-family: Roboto; }
    .meet-our-team-content-information .our-team-content-heading {
      font-size: 1.8rem;
      line-height: 3.8rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: underline;
      margin-bottom: 0.4rem; }
    .meet-our-team-content-information .our-team-content-email {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 2rem;
      text-decoration: underline;
      height: 2.8rem; }
    .meet-our-team-content-information .our-team-content-price {
      line-height: 2.4rem;
      font-weight: 400;
      font-size: 1.8rem;
      text-decoration: underline;
      height: 2.8rem; }
    .meet-our-team-content-information .our-team-content-desc {
      font-size: 1.8rem;
      font-weight: 700;
      text-decoration: underline;
      margin-top: 0.5rem;
      line-height: 2.8rem; }

.meet-our-team-content-true {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 9.2rem 7.7rem;
  margin-top: 4.5rem;
  font-family: Roboto; }
  .meet-our-team-content-true .our-team-true-heading h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: #D0D2C7;
    margin-bottom: 3.3rem; }
  .meet-our-team-content-true .our-team-true-image img {
    width: 24.7rem;
    height: 24.7rem;
    border-radius: 12rem; }
  .meet-our-team-content-true .our-team-true-content {
    margin-top: 3.6rem;
    color: #7B7B7B; }
    .meet-our-team-content-true .our-team-true-content-title {
      font-size: 1.8rem;
      line-height: 3.8rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: underline;
      margin-bottom: 0.4rem; }
    .meet-our-team-content-true .our-team-true-content-email {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3.8rem;
      margin-bottom: 0.4rem;
      text-decoration: underline;
      word-break: break-word; }
    .meet-our-team-content-true .our-team-true-content-price {
      line-height: 2.4rem;
      font-weight: 400;
      font-size: 1.6rem;
      text-decoration: underline; }

@media screen and (max-width: 1160px) {
  .meet-our-team-content-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6.4rem 7.7rem; }
    .meet-our-team-content-information .out-team .our-team-content .our-team-content-desc {
      height: 0px !important; }
  .meet-our-team-content-true {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6.4rem 7.7rem; }
    .meet-our-team-content-true .out-team-true .our-team-true-content .our-team-true-content-desc {
      height: 0px !important; } }

@media screen and (max-width: 890px) {
  .meet-our-team-content-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 9rem; }
    .meet-our-team-content-information .our-team .our-team-content-email {
      margin-bottom: 1rem; }
  .meet-our-team-content-true {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem; }
    .meet-our-team-content-true .our-team-true .our-team-true-content {
      margin-top: 3rem; }
      .meet-our-team-content-true .our-team-true .our-team-true-content .our-team-true-content-email {
        line-height: unset;
        height: 2.4rem;
        margin-bottom: 1rem; } }

@media screen and (max-width: 768px) {
  .meet-our-team-content-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 9rem; }
    .meet-our-team-content-information .our-team {
      text-align: center; }
      .meet-our-team-content-information .our-team .our-team-image img {
        margin: auto;
        width: 18rem;
        height: 18rem; }
      .meet-our-team-content-information .our-team .our-team-content
.our-team-content-email {
        font-size: 1.6rem; }
      .meet-our-team-content-information .our-team .our-team-content-price {
        font-size: 1.6rem; }
      .meet-our-team-content-information .our-team .our-team-content-desc {
        font-size: 1.6rem; }
  .meet-our-team-content-true {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 9rem; }
    .meet-our-team-content-true .our-team-true {
      text-align: center; }
      .meet-our-team-content-true .our-team-true .our-team-true-image img {
        width: 18rem;
        height: 18rem;
        margin: auto; }
      .meet-our-team-content-true .our-team-true .our-team-true-content
.our-team-true-content-email {
        font-size: 1.6rem; }
      .meet-our-team-content-true .our-team-true .our-team-true-content-price {
        font-size: 1.6rem; }
      .meet-our-team-content-true .our-team-true .our-team-true-content-desc {
        font-size: 1.6rem; } }

@media screen and (max-width: 563px) {
  .meet-our-team-content-information {
    display: block; }
    .meet-our-team-content-information .our-team {
      margin-bottom: 4.8rem; }
      .meet-our-team-content-information .our-team .our-team-image img {
        width: 24.7rem;
        height: 24.7rem; }
      .meet-our-team-content-information .our-team .our-team-content {
        text-align: center; }
        .meet-our-team-content-information .our-team .our-team-content .our-team-content-email {
          margin-bottom: 0.3rem; }
  .meet-our-team-content-true {
    display: block; }
    .meet-our-team-content-true .our-team-true {
      margin-bottom: 4.8rem; }
      .meet-our-team-content-true .our-team-true .our-team-true-image img {
        margin: auto;
        width: 24.7rem;
        height: 24.7rem; }
      .meet-our-team-content-true .our-team-true .our-team-true-content {
        margin-top: 3rem; }
        .meet-our-team-content-true .our-team-true .our-team-true-content .our-team-true-content-email {
          margin-bottom: 0.3rem; } }

.great-west-gourmet {
  margin-top: 5.2rem; }
  .great-west-gourmet-title h4 {
    font-size: 1.8rem;
    font-family: Roboto;
    font-weight: 700;
    line-height: 2.8rem;
    color: #83B03D; }
  .great-west-gourmet-main-title {
    margin-top: 2.2rem;
    margin-bottom: 3.1rem; }
    .great-west-gourmet-main-title span {
      font-size: 1.8rem;
      font-weight: 700;
      font-family: Roboto;
      color: #D0D2C7; }
  .great-west-gourmet-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5.6rem 7.7rem; }
    .great-west-gourmet-main-content .people-west-image img {
      width: 24.7rem;
      height: 24.7rem;
      margin-bottom: 3rem;
      border-radius: 12rem; }
    .great-west-gourmet-main-content .people-west-content {
      word-break: break-word;
      color: #7B7B7B; }
      .great-west-gourmet-main-content .people-west-content-heading {
        font-size: 1.8rem;
        line-height: 3.8rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 0.4rem; }
      .great-west-gourmet-main-content .people-west-content-email {
        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: underline;
        height: 2.8rem; }
      .great-west-gourmet-main-content .people-west-content-price {
        line-height: 2.8rem;
        font-weight: 400;
        font-size: 1.6rem;
        text-decoration: underline;
        height: 2.8rem; }

@media screen and (max-width: 1160px) {
  .great-west-gourmet-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6.4rem 7.7rem; } }

@media screen and (max-width: 890px) {
  .great-west-gourmet-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 9rem;
    text-align: center; }
    .great-west-gourmet-main-content .people-west .people-west-image img {
      margin: auto; }
    .great-west-gourmet-main-content .people-west .people-west-content {
      margin-top: 3rem; } }

@media screen and (max-width: 768px) {
  .great-west-gourmet-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 9rem; }
    .great-west-gourmet-main-content .people-west .people-west-image img {
      width: 18rem;
      height: 18rem;
      margin: auto; }
    .great-west-gourmet-main-content .people-west .people-west-content {
      margin-top: 3rem; } }

@media screen and (max-width: 563px) {
  .great-west-gourmet-main-content {
    display: block; }
    .great-west-gourmet-main-content .people-west {
      margin-bottom: 4.8rem; }
      .great-west-gourmet-main-content .people-west .people-west-image img {
        margin: auto;
        width: 24.7rem;
        height: 24.7rem; }
      .great-west-gourmet-main-content .people-west .people-west-content {
        margin-top: 3rem; } }
