extends layout/layout

block vars
	-title = 'Welcome to Great West'
	-bodyClass = 'home-page'

block container
	include blocks/your-premium-produce-partner
	include blocks/banner
	include blocks/our-great-product
	include blocks/partnership
	include blocks/nice-saying
	include blocks/let-us-introduce-ourselves
	include blocks/meet-our-team
	//- include blocks/great-west-gourmet